<app-tabs [tabDisplay]="'column'">
  <div #tabContent tab-title="Angular Directives">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/directive-trong-angular.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Angular Directives">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/directive-trong-angular.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Structural Directive - ngIf">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/structural-directive-ngif.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Structural Directive - ngFor">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/structural-directive-ngfor.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Cải thiện hiệu suất ngFor với trackBy">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/structural-directive-ngfor-trackBy.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="ngSwitch">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/structural-directive-ngSwitch.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="ngClass - ngStyle">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/07/angular-attribute-directives.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Custom Directive">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/custom-directive.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Tạo Drag & Drop directive">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/drag-drop-file-directive-in-angular.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Tạo Copy text to clipboard directive">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/clipboard-directive.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Tạo Click outside directive">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/click-outside-directive.html"
      frameborder="0"
    ></iframe>
  </div>
  <div #tabContent tab-title="Tạo Tooltip directive">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/cach-tao-tooltip-directive-trong-angular.html"
      frameborder="0"
    ></iframe>
  </div>
</app-tabs>
