<div class="row">
  <div class="col-9">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/07/dependency-injection-in-angular.html"
      frameborder="0"
      style="width: 100%; height: 90vh"
    ></iframe>
  </div>
  <div class="col-3">
    <h2>Đọc thêm</h2>
    <ol>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-services/"
          target="_blank"
          >Services</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-dependency-injection/"
          target="_blank"
          >Dependency injection</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-injector-injectable-inject/"
          target="_blank"
          >Injector, @Injectable &amp; @Inject</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-providers/"
          target="_blank"
          >Providers</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/injection-token-in-angular/"
          target="_blank"
          >Injection Token</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/how-dependency-injection-resolution-works-in-angular/"
          target="_blank"
          >Hierarchical Dependency Injection</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-singleton-service/"
          target="_blank"
          >Angular Singleton Service</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/providedin-root-any-platform-in-angular/"
          target="_blank"
          >ProvidedIn root, any &amp; platform</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/self-skipself-optional-decorators-angular/"
          target="_blank"
          >@Self, @SkipSelf &amp; @Optional Decorators</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/host-decorator-in-angular/"
          target="_blank"
          >@Host Decorator in Angular</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/viewproviders-in-angular/"
          target="_blank"
          >ViewProviders</a
        >
      </li>
    </ol>
  </div>
</div>
