<div class="d-flex flex-row justify-content-around align-items-center">
  <h1>{{title}}</h1>
  <div class="action">
    <a class="btn btn-dark circle me-2" placement="bottom" tooltip="Source Code"
      href="https://github.com/QuocDung0209/custom-directive-angular/commit/aedce142ec22b38e6ba41ab2dc2c84c1b123832e"
      target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a class="btn btn-info circle" tooltip="Tutorial"
      href="https://quocdung0209.blogspot.com/2021/08/xu-ly-text-overflow-voi-css.html" target="_blank">
      <i class="fa fa-globe" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="row justify-content-center align-items-start mt-4">
  <div class="col-5">
    <div class="badge bg-primary mb-2">Choose a method to handle text overflow</div>
    <select class="form-select" [ngModel]="selectedMethod" (ngModelChange)="onMethodChange($event)">
      <option [value]="methods.textOverflow">text-overflow</option>
      <option [value]="methods.webkitLineClamp">-webkit-line-clamp</option>
      <option [value]="methods.wordBreak">word-break</option>
      <option [value]="methods.angularDirective">angular directive</option>
    </select>
    <div class="row align-items-center mt-3">
      <div class="col-3"><a href="https://www.w3schools.com/cssref/css_units.asp" target="_blank"
          class="badge bg-primary text-decoration-none p-2">Result Width</a></div>
      <div class="col-3">
        <input type="number" class="form-control form-control-sm" [ngModel]="width"
          (ngModelChange)="onWidthChange($event, 'width')">
      </div>
      <div class="col-3">
        <select class="form-select form-select-sm" [ngModel]="selectedUnit"
          (ngModelChange)="onWidthChange($event, 'unit')" disabled>
          <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
        </select>
      </div>
      <div class="col-3">
        <button class="btn btn-sm btn-danger" (click)="reset()">Reset</button>
      </div>
    </div>
    <div *ngIf="selectedMethod === methods.textOverflow" class="mt-3 border rounded p-3 bg-light">
      <div class="badge bg-secondary mb-2">CSS Property</div>
      <div>
        <div class="fw-bold my-2">text-overflow:</div>
        <div *ngFor="let item of textOverflowOptions" class="form-check">
          <input class="form-check-input" name="options" [id]="item.id" type="radio" [value]="item.value"
            [(ngModel)]="selectedStyles">
          <label class="form-check-label" [for]="item.id">{{item.id}}</label>
        </div>
      </div>
    </div>
    <div *ngIf="selectedMethod === methods.webkitLineClamp" class="mt-3 border rounded p-3 bg-light">
      <div class="badge bg-secondary mb-2">CSS Property</div>
      <div>
        <div class="fw-bold my-2">-webkit-box-orient:</div>
        <div *ngFor="let orient of orientOptions" class="form-check">
          <input class="form-check-input" name="options" [id]="orient.id" type="radio" [value]="orient.value"
            [ngModel]="boxOrient" (ngModelChange)="onWebkitBoxChange($event, 'orient')">
          <label class="form-check-label" [for]="orient.id">{{orient.id}}</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="line-clamp" class="col-sm-6 col-form-label fw-bold">-webkit-line-clamp:</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="line-clamp" min="1" [ngModel]="lineClamp"
            (ngModelChange)="onWebkitBoxChange($event, 'line-clamp')">
        </div>
      </div>
    </div>
    <div *ngIf="selectedMethod === methods.wordBreak" class="mt-3 border rounded p-3 bg-light">
      <div class="badge bg-secondary mb-2">CSS Property</div>
      <div>
        <div class="fw-bold my-2">word-break:</div>
        <div *ngFor="let item of wordBreakOptions" class="form-check">
          <input class="form-check-input" name="options" [id]="item.id" type="radio" [value]="item.value"
            [(ngModel)]="selectedStyles">
          <label class="form-check-label" [for]="item.id">{{item.id}}</label>
        </div>
      </div>
    </div>
    <div *ngIf="selectedMethod === methods.angularDirective" class="mt-3 border rounded p-3 bg-light">
      <div class="badge bg-secondary mb-2">CSS Property</div>
      <div>
        <div class="fw-bold my-2">Pop up the tooltip to show full content:</div>
        <div class="form-check">
          <input class="form-check-input" name="options" id="true" type="radio" [value]="true"
            [(ngModel)]="showTooltip">
          <label class="form-check-label" for="true">true</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="options" id="false" type="radio" [value]="false"
            [(ngModel)]="showTooltip">
          <label class="form-check-label" for="false">false</label>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="line" class="col-sm-6 col-form-label fw-bold">Number of lines:</label>
        <div class="col-sm-3">
          <input type="number" class="form-control" id="line" min="1" [(ngModel)]="numberOfLines">
        </div>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="m-auto border rounded p-3" [style]="resultWidth">
      <div class="badge bg-success mb-3">Result</div>
      <p [contentEditable]="true" [class]="selectedMethod" [style]="selectedStyles" [textOverflow]="selectedMethod" [lineClamp]="numberOfLines"
        [hoverShowFull]="showTooltip">
        <a href="#" [class]="selectedMethod === methods.textOverflow ? 'text-overflow-inline-block' : ''"
          [style]="selectedStyles" [innerText]="inlineBlockText"></a><span [innerText]="blockText"></span>
      </p>
    </div>
    <div *ngIf="selectedMethod === methods.textOverflow" class="mt-3 m-auto" style="width: 350px;">
      <div class="badge bg-secondary mb-2">CSS Code</div>
      <pre class="m-auto border rounded py-3">
  .text-overflow &#123;
    white-space: nowrap;
    overflow: hidden;
    <b class="text-primary">{{selectedStyles}}</b>
  &#125;
  .text-overflow-inline-block &#123;
    display: inline-block;
    max-width: 150px;
    vertical-align: bottom;

    white-space: nowrap;
    overflow: hidden;
    <b class="text-primary">{{selectedStyles}}</b>
  &#125;</pre>
    </div>
    <div *ngIf="selectedMethod === methods.webkitLineClamp" class="mt-3 m-auto" style="width: 350px;">
      <div class="badge bg-secondary mb-2">CSS Code</div>
      <pre class="m-auto border rounded py-3">
  .line-clamp-overflow &#123;
    display: -webkit-box;
    overflow: hidden;
    <b class="text-primary">{{boxOrient}}</b>
    <b class="text-info">-webkit-line-clamp: {{lineClamp}};</b>
  &#125;</pre>
    </div>
    <div *ngIf="selectedMethod === methods.wordBreak" class="mt-3 m-auto" style="width: 350px;">
      <div class="badge bg-secondary mb-2">CSS Code</div>
      <pre class="m-auto border rounded py-3">
  .word-break-overflow &#123;
    <b class="text-primary">{{selectedStyles}}</b>
  &#125;</pre>
    </div>
  </div>
</div>