<div class="demo">
    <button class="button" d-tooltip="Tớ ở trên đây nè!">Top</button>
    <button class="button" d-tooltip="Bạn nhìn bên trái nha!" tooltip-position="left">Left</button>
    <button class="button" d-tooltip="Tớ ở bên phải nhé!" tooltip-position="right">Right</button>
    <button class="button" d-tooltip="Tao ở dưới này nè!" tooltip-position="bottom">Bottom</button>
</div>
<div style="
    margin: auto;
    margin-top: 30px;
    padding-top: 20px;
    border: 2px solid red;
    position: relative;
    overflow: auto;
    max-height: 150px;
    max-width: 450px;
    ">
    <button style="margin: 10px 20px;" class="button" d-tooltip="Oh No!">CSS</button>
    <button class="button" id="button">Popper.js</button>
    <div id="tooltip">
        Hello! Oh Yeah!
        <span id="arrow" data-popper-arrow></span>
    </div>
    <button style="margin: 10px 20px;" class="button" d-tooltip="Oh No!" tooltip-position="right">CSS</button>
    <div>Placeholder text to demonstrate some inline links with tooltips. This is now just filler, no killer. Content
        placed here just to mimic the presence of real text. And all that just to give you an idea of how tooltips would
        look when used in real-world situations. So hopefully you've now seen how these tooltips on links can work in
        practice, once you use them on your own site or project.</div>
</div>