iframe {
  width: 100%;
  height: 80vh;
}

.link {
  font-weight: 700;
  color: cornflowerblue;
  cursor: pointer;
}

.explain {
  color: #727275;
  font-size: 15px;
  font-family: system-ui;
  margin-top: 10px;
  padding-left: 10px;
  line-height: 20px;
  border-left: 5px solid darkgray;
}
