/***********************************************
*** CSS For Tooltip Directive
************************************************/
.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px 8px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}
.ng-tooltip[data-popper-placement^="top"]:after,
.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}
.ng-tooltip[data-popper-placement^="bottom"]:after,
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}
.ng-tooltip[data-popper-placement^="left"]:after,
.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}
.ng-tooltip[data-popper-placement^="right"]:after,
.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}
.ng-tooltip-show {
  opacity: 1;
}

/***********************************************
*** Code Snippets
************************************************/

.code-block {
  position: relative;
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  padding: 15px;
  background-color: whitesmoke;
}

.code-block .filename {
  position: absolute;
  top: -12px;
  background-color: #422c2c;
  color: whitesmoke;
  font-weight: 600;
  padding: 0 8px;
  border-radius: 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: whitesmoke !important;
  border-color: #dee2e6 #dee2e6 whitesmoke !important;
  font-weight: 600;
}

/***********************************************
*** Others
************************************************/

.circle {
  border-radius: 50% !important;
}
