<h2 class="text-center">{{ title }}</h2>
<p>
  Khi chúng ta làm việc với Angular, chúng ta thường call nhiều HTTP request đến
  backend server để lấy data và view cho Website. Quá trình lấy data từ backend
  là bất đồng bộ, nghĩa là data sẽ không trả về ngay mà có thể sẽ mất khoảng
  thời gian. Do đó, chúng ta cần hiện thị loading spinner mỗi khi chúng call
  HTTP request để báo cho user biết dữ liệu đang được tải (đang loading).
</p>
<p>
  Thông thường, để hiển thị loading spinner trong Angular, chúng ta tạo ra một
  service giữ một biến để check <b>isLoading</b>. Khi chúng ta call 1 HTTP
  request, <b>isLoading = true và show loading spinner</b>, khi HTTP trả về data
  hoặc errors <b>isLoading = false và ẩn loading spinner</b>.
</p>
<dl>
  <dt>Vấn đề</dt>
  <dd>
    Với cách xử lý thông thường đó, khi chúng call đồng thời nhiều HTTP request,
    chúng ta sẽ gặp phải một số vấn đề:
    <ol>
      <li>
        Mỗi request được gửi sẽ tạo ra một loading spinner và các loading
        spinner này có thể chồng lên nhau nếu chúng ta dynamic create spinner
        mỗi khi gọi request.
      </li>
      <li>
        Quá trình xử lý một request là bất đồng bộ (async), do đó, chúng ta biết
        được khi nào dữ liệu được trả về. Và thời gian trả về dữ liệu của mỗi
        request là khác nhau. Do đó, khi một request trả về dữ liệu nó sẽ ẩn
        loading spinner trong khi các request vẫn đang xử lý và dữ liệu của các
        request còn lại vẫn chưa được trả về.
      </li>
    </ol>
  </dd>
  <dt>Cách giải quyết</dt>
  <dd>
    <em
      >Chúng ta có thể implement một counter để bắt đầu đếm khi một request được
      gửi và hiện thị loading. Sau đó, chỉ ẩn loading khi tất cả request đều trả
      về dữ liệu (counter = 0). Nhưng đây không phải là ý tưởng tốt.</em
    >
    <div>
      Ý tưởng tốt hơn để giải quyết vấn đề này là
      <b>sử dụng RxJs với <em>share</em> operator</b>.
    </div>
  </dd>
</dl>
<h3>Cách bước thực hiện</h3>
<div class="step">Tạo một loading spinner component</div>
<div class="ms-3">
  <p><code>ng g c spinner-overlay</code></p>
  <h5>HTML template</h5>
  <code-highlighter [code]="spinnerTemplate"></code-highlighter>
  <h5>CSS</h5>
  <code-highlighter [height]="'300px'" [code]="spinnerCss"></code-highlighter>
</div>
<div class="step">Tạo spinner service</div>
<div class="ms-3">
  <code-highlighter
    [height]="'300px'"
    [code]="spinnerService"
  ></code-highlighter>
  <div class="explain">
    <p>
      <a
        href="https://rxjs-dev.firebaseapp.com/api/index/const/NEVER"
        target="_blank"
        rel="noopener noreferrer"
        ><b>NEVER</b></a
      >
      là một Observable không emit bất cứ thứ gì cho Observer và không bao giờ
      complete.
    </p>
    <p>
      <a
        href="https://www.learnrxjs.io/learn-rxjs/operators/creation/defer"
        target="_blank"
        rel="noopener noreferrer"
        ><b>defer</b></a
      >
      dùng để tạo một Observable.
    </p>
    <p>
      <a
        href="https://www.learnrxjs.io/learn-rxjs/operators/multicasting/share"
        target="_blank"
        rel="noopener noreferrer"
        ><b>share</b></a
      >
      Tạo ra một Observable mới gọi là multicasts (shares) the original
      Observable.
    </p>
    <div class="ms-3 explain">
      <div>
        Nghĩa là, khi có ít nhất một subscriber subscribe đến nó, nó sẽ thực thi
        source Observable và emit data. Khi có thêm các subscriber khác subcribe
        nó, source Observale sẽ không thực thi lại mà nó sẽ emit lại các data -
        mà source Observable đã emit cho subscriber đầu tiên - cho các
        subcribers này. Và khi tất các subcriber đã subscribe đến nó unsubcribe
        hết, nó sẽ unsubcribe source Observable.
      </div>
      <div>
        Because the Observable is multicasting it makes the stream hot. This is
        an alias for multicast(() => new Subject()), refCount().
      </div>
    </div>
    <p>
      <a
        href="https://www.learnrxjs.io/learn-rxjs/operators/utility/finalize"
        target="_blank"
        rel="noopener noreferrer"
        ><b>finalize</b></a
      >
      Call a function when observable completes or errors.
    </p>
  </div>
</div>
<div class="step">
  Tạo spinner interceptor để tự động subcribe spinner service mỗi khi HTTP
  request được gửi.
</div>
<div class="ms-3">
  <div class="explain">
    <b>HTTP Interceptor</b> là một middleware, nó nằm giữa frontend và backend.
    HTTP Interceptor sẽ chặn và xử lý HTTP request trước nó được gửi xuống
    backend và sau khi data được return cho frontend.
  </div>
  <dl>
    <dt>Tạo spinner interceptor implement HttpInterceptor</dt>
    <dd>
      <code-highlighter
        [height]="'300px'"
        [code]="spinnerInterceptor"
      ></code-highlighter>
    </dd>
    <dt>Cung cấp SpinnerInterceptor cho app.moudle.ts</dt>
    <dd>
      <code-highlighter
        [height]="'300px'"
        [code]="serviceProvider"
      ></code-highlighter>
    </dd>
  </dl>
</div>
<h3>Cách hoạt động của Spinner</h3>
<p>
  Khi một http request được gửi đi, SpinnerInterceptorService sẽ subcribe
  spinner$ Observable. Nhờ vào <b>defer</b>, spinner sẽ được hiện thị, nó sẽ
  hiện thị cho đến khi backend trả về data.
</p>
<p>
  Nếu request đầu tiên chưa trả về data mà chúng ta đã gửi thêm một request thứ
  2 nữa. Lúc này, SpinnerInterceptorService sẽ subcribe spinner$ Observable
  nhưng hàm <code>this.show()</code> gọi không được gọi, do chúng ta đã sử dụng
  <code>.pipe(share()).</code>
</p>
<p>
  Khi request đầu tiên trả về data, nhưng request thứ hai vẫn đang xử lý thì
  <code>finalize</code> sẽ không được chạy qua nên spinner sẽ không ẩn. Khi tất
  cả subscribe đến spinner$ đều unsubcribe (tức request thứ data trả về data).
  <code>finalize</code> sẽ gọi function <code>this.hide()</code> để ẩn spinner.
</p>
<h2>Tài liệu tham khảo</h2>
<ul>
  <li>
    <a
      href="https://medium.com/show-loader-during-http-request-handeling/angular-display-loader-on-every-http-request-handeling-concurrency-with-rxjs-6b2515abe52a"
      target="_blank"
      rel="noopener noreferrer"
      >Show loader during HTTP request handling concurrency</a
    >
  </li>
</ul>
