<div class="row">
  <div class="col-9">
    <iframe
      src="https://quocdung0209.blogspot.com/2021/08/getting-started-with-angular.html"
      frameborder="0"
    ></iframe>
  </div>
  <div class="col-3">
    <h2>Read more</h2>
    <ul>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-introduction/"
          target="_blank"
          rel="noopener noreferrer"
          >Introduction to Angular</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-architecture-overview-concepts/"
          target="_blank"
          rel="noopener noreferrer"
          >Angular Architecture Overview & Concepts</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-installing-settingup-development-environment/"
          target="_blank"
          rel="noopener noreferrer"
          >Installing and Setting Up an Angular Development Environment
        </a>
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-create-first-application/"
          target="_blank"
          rel="noopener noreferrer"
          >How to Create a new project in Angular</a
        >
      </li>
      <li>
        <a
          href="https://www.tektutorialshub.com/angular/angular-bootstrapping-application/"
          target="_blank"
          rel="noopener noreferrer"
          >Bootstrapping in Angular</a
        >
      </li>
    </ul>
  </div>
</div>
